.headerWrapper {
  display: flex;
  align-items: center;
  .trigger {
    .HeaderIcon {
      flex: 0 0 auto;
      font-size: 18px;
      padding: 0 24px;
      cursor: pointer;
    }
  }
  .BreadMeap {
    flex: 1 0 auto;
  }
  .ownInfo {
    flex: 0 0 auto;
    margin-right: 30px;
    .infoWrapper {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
      span {
        padding-left: 8px;
        font-size: 15px;
      }
    }
  }
}
